{% extends 'car_dealer_navbar.html' %}
{% block title %} Customer Login {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
{% load static %}
<style>

        body {
            background-image: url("{% static '/image/car1.jpg' %}");
            background-size: cover;
            background-repeat:no-repeat;
<!--            background-position: center;-->
            font-family: Arial, sans-serif;
            color: ghostwhite;
        }
        label{
            color: black;
        }
</style>
<div class="container">
<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
    <div class="row mt-2">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">Car Name</i></label>
            <input type="text" class="form-control" name="car_name" placeholder="Name of the Car">
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold; ">City</i></label>
            <input type="text" class="form-control" name="city" placeholder="City">
        </div>
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">Car Image</i></label>
            <input type="file" class="form-control" name="image">
        </div>
    </div>

    <div class="row mt-3">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">Capacity</i></label>
            <input type="number" class="form-control" name="capacity" placeholder="Number of Seats">
        </div>
    </div>

    <div class="row mt-3">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">Rent</i></label>
            <input type="number" class="form-control" name="rent" placeholder="Rent (per day)">
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
  </div>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Car added successfully.")
    document.location = "/add_car"
    {% endif %}
</script>
{% endblock %}

