{% extends 'car_dealer_navbar.html' %}
{% block title %} Customer Login {% endblock %}
{% block css %}
{% load static %}
<style>

        body {
            background-image: url("{% static '/image/car7.jpg' %}");
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center;
            font-family: Arial, sans-serif;
            color: ghostwhite;
        }
    h1 {
        text-align: center;
        color: black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    th {
        background-color: #72a716;
        color: white;
    }
    th {
        background-color: black;
        color: white;
    }


    th,
    td {
        border: 2px solid #ddd;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    {% if all_orders %}
    <h1 class="mt-4">Current Orders</h1>
    <div class="users-table mt-4">
        <table>
            <tbody>
                <tr>
                    <th>Customer Name</th>
                    <th>Car Name</th>
                    <th>Image</th>
                    <th>Days</th>
                    <th>Rent</th>
                    <th>Capacity</th>
                    <th>Action</th>
                    <th>Delete Order</th>


                </tr>
                {% for order in all_orders %}
                <tr>
                    <td>{{order.user.get_full_name}}</td>
                    <td>{{order.car.name}}</td>
                    <td><img src="{{order.car.image.url}}" alt="" width="100px" height="100px"></td>
                    <td>{{order.days}}</td>
                    <td>₹ {{order.rent}}</td>
                    <td>{{order.car.capacity}}</td>
                    <td>
                        <form action = "/complete_order/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{order.id}}">
                        <button class="btn btn-primary" type="submit">Complete</button>
                      </form></td>
                    <td><a href="/order_verification/{{order.id}}/" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{car.name}}?')">Delete</a></td>
<!--                    <td>-->
<!--                    <form action = "/order_verification/" method="post">-->
<!--                        {% csrf_token %}-->
<!--                        <input type="hidden" name="id" value="{{order.id}}">-->
<!--                        <button class="btn btn-warning" type="submit">Delete</button>-->
<!--                    </form></td>-->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <br>
        <h2>No Orders Right Now</h2>
        {% endif %}
    </div>
    {% endblock %}