{% extends 'car_dealer_navbar.html' %}
{% block title %} Customer Login {% endblock %}
{% block css %}
{% load static %}
<style>
        body {
        background-image: url("{% static '/image/car17.jpg' %}");
        background-size: cover;
        background-repeat:no-repeat;
        font-family: Arial, sans-serif;
        color: ghostwhite;
    }
    h1 {
        text-align: center;
        color: black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    th {
        background-color: black;
        color: white;
    }

    th,
    td {
        border: 2px solid #ddd;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    {% if cars %}
    <h1 class="mt-4">Cars List</h1>
    <div class="users-table mt-4">
        <table>
            <tbody>
                <tr>
                    <th>Car Name</th>
                    <th>Image</th>
                    <th>City</th>
                    <th>Capacity</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
                {% for car in cars %}
                <tr>
                    <td>{{car.name}}</td>
                    <td><img src="{{car.image.url}}" alt="" width="100px" height="100px"></td>
                    <td>{{car.location.city}}</td>
                    <td>{{car.capacity}}</td>
                    <td><a href="/delete_car/{{car.id}}/" class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete {{car.name}}?')">Delete</a></td>
                    <td><a href="/edit_car/{{car.id}}/" class="btn btn-warning">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <br>
        <h2>No Cars Added Yet</h2>
        {% endif %}
    </div>
    {% endblock %}